<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射类的文件路径 -->
<mapper namespace="com.six.dao.BuyUserShopCommentMapper">
	<resultMap id="BaseResultMap" type="com.six.pojo.ShopComment">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="score" jdbcType="FLOAT" property="score" />
		<result column="likeNum" jdbcType="INTEGER" property="likeNum" />
		<result column="picPath" jdbcType="VARCHAR" property="picPath" />
		<result column="goods_id" jdbcType="INTEGER" property="goods_id" />
		<result column="buy_id" jdbcType="INTEGER" property="buy_id" />
		<result column="createdBy" jdbcType="INTEGER" property="createdBy" />
		<result column="creationDate" jdbcType="DATE" property="creationDate" />
		<result column="modifyBy" jdbcType="INTEGER" property="modifyBy" />
		<result column="modifyDate" jdbcType="DATE" property="modifyDate" />
		<result column="buyCode" jdbcType="VARCHAR" property="buyCode" />
		<result column="commentDate" jdbcType="VARCHAR" property="commentDate" />
		<result column="isLike" jdbcType="INTEGER" property="isLike" />
	</resultMap>
	<!-- 插入评论信息 -->
	<insert id="userCommentInsert" parameterType="com.six.pojo.ShopComment">
		insert into
		shop_comment(content,score,likeNum,picPath,goods_id,buy_id,createdBy,modifyBy)
		values(#{content},#{score},#{likeNum},#{picPath},#{goods_id},#{buy_id},#{createdBy},#{modifyBy})
	</insert>

	<!-- 求评分的平均分 -->
	<select id="selectScoreAvg" resultType="int">
		SELECT avg(score) from shop_comment where goods_id=#{goods_id}
	</select>

</mapper>