<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.dao.myMapper.GoodsCategoryMapper">

	<!--三级联动 -->
	<select id="findCategoryLevel" parameterType="int"
		resultType="com.six.pojo.myEntity.GoodsCategory">
		select id,categoryName,category_id from shop_goodscategory
		where category_id=#{category_id}
	</select>

</mapper>