<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射类的文件路径 -->
<mapper namespace="com.six.dao.ShopAfterSellUserMapper">
	<resultMap id="BaseResultMap" type="com.six.pojo.ShopAfterSell">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="picPath" jdbcType="VARCHAR" property="picPath" />
		<result column="afterSell" jdbcType="INTEGER" property="afterSell" />
		<result column="order_id" jdbcType="INTEGER" property="order_id" />
		<result column="buy_id" jdbcType="INTEGER" property="buy_id" />
		<result column="sell_id" jdbcType="INTEGER" property="sell_id" />
		<result column="createdBy" jdbcType="INTEGER" property="createdBy" />
		<result column="creationDate" jdbcType="DATE" property="creationDate" />
		<result column="modifyBy" jdbcType="INTEGER" property="modifyBy" />
		<result column="modifyDate" jdbcType="DATE" property="modifyDate" />
	</resultMap>

	<!-- 增加退货订单 -->
	<insert id="shopAfterSellRetreatInsert" parameterType="com.six.pojo.ShopAfterSell">
		insert
		into
		shop_afterSell(title,content,picPath,afterSell,order_id,buy_id,sell_id,createdBy,modifyBy)
		values(#{title},#{content},#{picPath},#{afterSell},#{order_id},#{buy_id},#{sell_id},#{createdBy},#{modifyBy})
	</insert>

</mapper>