<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射类的文件路径 -->
<mapper namespace="com.six.dao.ShopOrderUserMapper">
	<resultMap id="BaseResultMap" type="com.six.pojo.ShopOrder">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="goodsNum" jdbcType="INTEGER" property="goodsNum" />
		<result column="totalPrice" jdbcType="INTEGER" property="totalPrice" />
		<result column="isSend" jdbcType="INTEGER" property="isSend" />
		<result column="isReceive" jdbcType="INTEGER" property="isReceive" />
		<result column="afterCell" jdbcType="INTEGER" property="afterCell" />
		<result column="goods_id" jdbcType="INTEGER" property="goods_id" />
		<result column="buy_id" jdbcType="INTEGER" property="buy_id" />
		<result column="sell_id" jdbcType="INTEGER" property="sell_id" />
		<result column="createdBy" jdbcType="INTEGER" property="createdBy" />
		<result column="creationDate" jdbcType="DATE" property="creationDate" />
		<result column="modifyBy" jdbcType="INTEGER" property="modifyBy" />
		<result column="modifyDate" jdbcType="DATE" property="modifyDate" />
		<result column="goods_name" jdbcType="VARCHAR" property="goods_name" />
	</resultMap>

	<!-- 查询出所有历史订单 -->
	<select id="getAllShopOrder"
		resultMap="BaseResultMap">
		select o.*,g.name as goods_name from shop_order o,shop_goods g
		where o.buy_id=#{buy_id} and g.id=o.goods_id
		limit
		#{currentPageNo},#{pageSize}
		
	</select>

	<!-- 获取未发货的订单总页数 -->
	<select id="selectIsReceiveCount" resultType="int">
		select count(id)
		from shop_order where isSend=0 and buy_id=#{buy_id}
	</select>

	<!-- 查出未发货的订单 -->
	<select id="getIsReceive"
		resultMap="BaseResultMap">
		select o.*,g.name as goods_name from shop_order o,shop_goods g where o.isSend=0 and o.buy_id=#{buy_id} and g.id=o.goods_id
		limit
		#{currentPageNo},#{pageSize}
	</select>
	
	<!-- 根据id查出订单信息 -->
	<select id="getShorOrderIsReceive" resultMap="BaseResultMap">
		select * from
		shop_order where id=#{id}
	</select>
	<!-- 删除订单 -->
	<delete id="shopAfterSellRetreatdelete" parameterType="int">
		delete
		from shop_order where id=#{order_id}
	</delete>

	<!-- 获取已收货的订单总页数 -->
	<select id="selectIsReceiveCountAlready" resultType="int"> select
		count(id)
		from shop_order where isReceive=1 and buy_id=#{buy_id}
	</select>
	<!-- 查出已收货的订单 -->
	<select id="getIsReceiveAlready"
		resultMap="BaseResultMap"> 
		select o.*,g.name as goods_name from shop_order o,shop_goods g where o.isReceive=1 and
		 o.buy_id=#{buy_id} and g.id=o.goods_id limit #{currentPageNo},#{pageSize}
	</select>

	<!-- 根据id查出订单信息 -->
	<select id="getUserComment" parameterType="Object" resultMap="BaseResultMap">
		select * from shop_order where id=#{id}
	</select>
	
	<!-- 获取所有订单总页数 -->
	<select id="selectIsReceiveAllCount" resultType="int"> select
		count(id)
		from shop_order where buy_id=#{buy_id}
	</select>
</mapper>