<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.dao.ShopLoginRegisterMapper">  <!-- 要对应映射接口 -->

	<!-- 根据code查询buyUser -->
	<select id="selectBuyUserByCode" resultType="shopBuyUser">
		select * from shop_buyuser where code = #{code}
	</select>
	<!-- 根据phone查询buyUser -->
	<select id="selectBuyUserByPhone" resultType="shopBuyUser">
		select * from shop_buyuser where phone = #{phone}
	</select>
	<!-- 根据email查询buyUser -->
	<select id="selectBuyUserByEmail" resultType="shopBuyUser">
		select * from shop_buyuser where email = #{email}
	</select>
	
	<!-- 根据code查询sellUser -->
	<select id="selectSellUserByCode" resultType="shopSellUser">
		select * from shop_selluser where code = #{code}
	</select>
	<!-- 根据phone查询sellUser -->
	<select id="selectSellUserByPhone" resultType="shopSellUser">
		select * from shop_selluser where phone = #{phone}
	</select>
	<!-- 根据email查询sellUser -->
	<select id="selectSellUserByEmail" resultType="shopSellUser">
		select * from shop_selluser where email = #{email}
	</select>
	
	<!-- 根据code查询adminUser -->
	<select id="selectAdminUserByCode" resultType="shopAdminUser">
		select * from shop_adminuser where code = #{code}
	</select>
	<!-- 根据phone查询adminUser -->
	<select id="selectAdminUserByPhone" resultType="shopAdminUser">
		select * from shop_adminuser where phone = #{phone}
	</select>
	<!-- 根据email查询adminUser -->
	<select id="selectAdminUserByEmail" resultType="shopAdminUser">
		select * from shop_adminuser where email = #{email}
	</select>
	
	
	
	<!-- 插入一行buyUser数据 -->
	<insert id="insertBuyUser" parameterType="shopBuyUser">
		insert into shop_buyuser(code, password, phone, email, name, sex, birthday, createdBy, creationDate)
			values(#{code}, #{password}, #{phone}, #{email}, #{name}, #{sex}, #{birthday}, #{createdBy}, #{creationDate})
	</insert>
	<!-- 插入一行sellUser数据 -->
	<insert id="insertSellUser" parameterType="shopSellUser">
		insert into shop_selluser(code, password, phone, email, name, sex, birthday, createdBy, creationDate)
			values(#{code}, #{password}, #{phone}, #{email}, #{name}, #{sex}, #{birthday}, #{createdBy}, #{creationDate})
	</insert>

</mapper>